.banner1
{
    display: flex;
    flex-wrap: wrap;

    width: 99.05vw;
    height: 678px;

    background: #000000;
}

.frontelements
{
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    padding: 10vw 30vw 10vw 10vw;
}
.backelements
{
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    
    margin-left: 30vw;
    margin-top: 5vw;
}

.mindrecktangle
{
    width: 1166px; /*1166*/
    height: 620px;

    background: radial-gradient(50% 62.99% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%),
    radial-gradient(51.63% 139.59% at 51.63% 50%,
            rgba(0, 0, 0, 0) 55.27%, #000000 100%),
    url(../data/mind_normal.png) no-repeat center center;
    background-size: cover;
}

.bannertext
{
    vertical-align: center;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
}

.title
{
    font-size: 44px;
    color: #219653;
    height: 50px;
}

.subtitle
{
    font-size: 44px;
    color: white;
    font-weight: lighter;
    width: 500px;
    height: 100px;
}

.regular
{
    font-size: 22px;
    color: white;
    font-weight: lighter;
    width: 400px;
    height: 100px;
    margin: 40px 0px 0px 0px;
}

.button3
{
    background-color: #219653;
    border: 2px solid #219653;
    border-radius: 8px;
    align-items: center;
    color: white;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    display: flex;

    transition-duration: 0.4s;
}

.button3:hover {
    background-color: transparent;
    color: #219653;
}

.bannerbuttons { width: 600px; }
.bb1height { height: 60px; }
.bb2height { height: 62px; }

.buttonspace
{
    margin: 5px;
    display: inline-block;
}

.mindimage
{
    position: relative;
    width: 1166px;
    height: 518px;
    left: 25%;
    top: 318px;

    object-fit: cover;
    transform: translate(0,-50%);
}