.header
{
    width: 99.05vw;
    height: 100px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    background: #FFFFFF;
}

.headercontainers
{
    position: relative;
    display: flex;
    align-content: center;
    height: 100%;
}

.headerlogo
{
    left: auto;
    width: 30vw;
}

.headerinfo
{
    right: auto;
    width: 45vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.logo
{
    width: 220px;
    height: 63px;
    left: 100px;
    top: 15%;
    display: inline-block;
    margin: auto;
}

.mail, .phone
{
    margin: auto 1vw;
    display: flex;
    align-content: center;
    align-items: center;
}

.maillogo
{
    width: 25px;
    height: 17px;
}

.phonelogo
{
    right: 456px;
    top: 45%;

    width: 17px;
    height: 17px;
}

.headertext
{
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: #333333;
    margin: auto 0.5vw;
}

.headerbutton1
{
    width: 176px;
    height: 19px;
    margin: auto 1vw;
}

.button1
{
    background-color: transparent;
    border: 2px solid #219653;
    border-radius: 8px;
    align-items: center;
    color: #219653;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    display: flex;

    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #219653;
    color: white;
}

.menu
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 99.05vw;
    height: 50px;

    background: #333333;
}

.menutext
{
    color: white;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

    transition-duration: 0.4s;
}

.menutext:hover
{
    color: #219653;
}